<div class="container">
  <div style="text-align:center">
    <h1>
      {{title}}
    </h1>
  </div>
  <h2>Here are some links to help you start: </h2>
  <div class="card">
    <ng-container *ngFor="let item of data.contacts">
      <div class="contact-details">
        <h1>{{item.name}}</h1>
        <h2>{{item.username}}</h2>
        <h3>{{item.address.street + ' ' + item.address.suite + ' '}}</h3>
        <p>{{item.address.city}} - {{item.address.zipcode}}</p>
      </div>
    </ng-container>
  </div>
</div>
